.footer {
    height: 150px;
    background: url('../../imgs/footer.png');
    display: flex;
    color: #fff;
    align-items: center;
}

.footer > img{
    width: 100%;
    height: 100%;
}

.quem-sou-footer {
    width: 50%;
}

.redes-sociais {
    width: 50%;
}

.zap {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: var(--gap-small);
}

.footer img {
    width: 25px;
    height: 25px;
}

.footer p {
    text-align: center;
    font-weight: bold;
}

.redes-sociais > img  {
    margin-top: var(--gap-smaller);
}