.div-quem-sou-eu {
    display: flex;
}

.div-img-quemsou {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img-quemsou > img{
    width: 150px;
    height: 200px;
}

.specs-quemsou {
    width: 50%;
}

.specs-quemsou > p {
    margin-top: var(--gap-smaller);
    margin-bottom: var(--gap-big);
}

.specs-titulo {
    display: flex;
    margin-top: var(--gap-small);
    justify-content: center;
}

.specs-titulo > h3 {
    font-weight: 700;
}

.specs-titulo > i { 
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.quem-sou-eu > h1 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: var(--gap-small);
}

.quem-sou-eu {
    margin-top: 130px;
    margin-bottom: var(--gap-medium);
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 600px) {
    .specs-quemsou > p {
        margin-right: 20%;
        margin-top: var(--gap-smaller);
        margin-bottom: var(--gap-big);
    }
    .specs-titulo {
        justify-content: start;
    }
}